<!DOCTYPE html>
<html>
  <body>
    <form action="/Create" method="post">
     <label for="Name">Park Name</label>
     <input id="Name" name="Name" type="text">

     <button type="submit">Submit</button>
    </form>
  </body>
</html>